<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Bartender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>

      <ion-item>
        <ion-label>Cord</ion-label>
        <ion-radio value="cord"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Studebaker</ion-label>
        <ion-radio value="studebaker"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="closeModal()">Close</ion-button>
  </ion-toolbar>
</ion-footer>