<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Bartender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group [(ngModel)]="selectedBartender">

      <ion-item *ngFor="let bartender of barService.bartenderList">
        <ion-label>{{bartender.fName}} {{bartender.lName}}</ion-label>
        <ion-radio value="bartender.uid"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="closeModal()">Close</ion-button>
  </ion-toolbar>
</ion-footer>