<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bar Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="barService.bar.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea type="text" [(ngModel)]="barService.bar.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [(ngModel)]="barService.bar.address"></ion-input>
    </ion-item>

  </ion-list>
  <ion-list>
    <ion-list-header>
      {{ barService.bar.name }}'s Bartenders
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            First Name
          </div>
        </ion-col>
        <ion-col>
          <div>
            Last Name
          </div>
        </ion-col>
        <ion-col>
          <div>
            Email
          </div>
        </ion-col>
        <ion-col>
          <div>
            Type
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let user of barService.bartenders">
        <ion-col>
          <div>
            {{user.fName}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{user.lName}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{user.email}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{user.type === 'a' ? 'Owner' : 'Bartender'}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="barService.updateBar()">Save/Create</ion-button>
  </ion-toolbar>
</ion-footer>