<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Menu Name
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ion-list>
      <ion-item (click)="util.goToNav('home/item/jksafkafj')">
        This is an ion item
      </ion-item>
    </ion-list>
    <mat-icon>home</mat-icon>
  </mat-expansion-panel>
</ion-content>