<ion-header>
  <ion-toolbar>
    <ion-title>
      Add/Remove
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.user.fName }} {{ item.user.lName }} {{ item.user.email }}
      <ion-fab-button (click)="add(item.user.uid)" *ngIf="!item.isBartender" size="small" color="success" slot="end">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="remove(item.user.uid)" *ngIf="item.isBartender" size="small" color="danger" slot="end">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="closeModal()">Close</ion-button>
  </ion-toolbar>
</ion-footer>