<ion-content padding>
  <ion-img src="../../assets/images/tavernFullMono.png"></ion-img>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.fName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.lName"></ion-input>
    </ion-item>

    <ion-list>

      <ion-radio-group [(ngModel)]="user.type">
        <ion-list-header>
          User Type
        </ion-list-header>
        <ion-item>
          <ion-label>Bar Admin</ion-label>
          <ion-radio value="a"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Bartender</ion-label>
          <ion-radio value="b"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-card *ngIf="user.type === 'b'">
      <ion-radio-group [(ngModel)]="user.bid">
        <ion-list-header>
          Which Bar do you work at?
        </ion-list-header>
        <ion-item *ngFor="let bar of bars">
          <ion-label>{{bar.name}}</ion-label>
          <ion-radio value="{{bar.bid}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card>

    <ion-card *ngIf="user.type === 'a'">
      <ion-list>

        <ion-item>
          <ion-label position="floating">Bar Name</ion-label>
          <ion-input type="text" [(ngModel)]="bar.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bar Description</ion-label>
          <ion-textarea type="text" [(ngModel)]="bar.description"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bar Address</ion-label>
          <ion-input type="text" [(ngModel)]="bar.address"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card>

    <ion-item [hidden]="shouldHide">
      <div class="show-requirements">
        Password must contain at least 8 characters with a mix of uppercase,
        lowercase, numbers, and special characters.
      </div>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="primary" (click)="register()">Register</ion-button>
  <br>
  <div class="middle">
    <a (click)="loginNav()">Login</a>
    <hr>
    <a (click)="registerNav()">Create User Account</a>
  </div>

</ion-content>