<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let bar of bars;">
    <ion-card-content>
      <h1>{{bar.bar.name}}</h1>
      {{bar.bar.address}}
      <br>
      {{bar.bar.description}}
      <div>
        <ion-button size="small" *ngIf="!isTabOpen(bar.bar.bid)" (click)="openTab(bar.bar.bid)">Open Tab
        </ion-button>
        <ion-button size="small" *ngIf="isTabOpen(bar.bar.bid)" (click)="viewTab(bar.bar.bid)">View Tab
        </ion-button>
        <ion-button size="small" (click)="goToMenu(bar.bar.bid)">Menu</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-fab-button (click)="changeQuantity(-1)" size="small" slot="end" color="primary">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
      <span slot="end">{{quantity}}</span>
      <ion-fab-button (click)="changeQuantity(1)" size="small" slot="end" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-item>

  </ion-list> -->

</ion-content>