<ion-content padding>
  <ion-img src="../../assets/icon/tavernFullMono.png"></ion-img>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="primary" (click)="login()">Login</ion-button>
  <br>
  <div class="middle">
    <a (click)="registerNav()">Create Account</a>
    <hr>
    <a (click)="registerBusBarNav()">Register Bar/Bartender</a>
  </div>
</ion-content>