<ion-header>
	<ion-toolbar>
		<ion-title>Register</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>

		<ion-item>
			<ion-label position="floating">Email</ion-label>
			<ion-input type="text" [(ngModel)]="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="cpassword"></ion-input>
		</ion-item>

		<ion-item [hidden]="shouldHide">
			<div class="show-requirements">
				Password must contain at least 8 characters with a mix of uppercase,
				lowercase, numbers, and special characters.
			</div>
		</ion-item>

	</ion-list>

	<ion-button fill="solid" expand="block" color="dark" (click)="register()">Signup</ion-button>
	<ion-button expand="full" (click)="login()">Login</ion-button>

</ion-content>
