<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      POS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group allow-empty-selection="true" name="radio-group">
            <ion-list-header>
              <ion-label>Tabs</ion-label>
            </ion-list-header>

            <ion-item *ngFor="let tab of barService.tabs" (ionSelect)="radioSelect($event)">
              <ion-label>{{ tab.userFName }} {{ tab.userLName }} Tab</ion-label>
              <ion-radio slot="start" value="{{tab.tid}}"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list-header>
          Add Items
        </ion-list-header>
        <ion-list>

          <ion-item *ngFor="let item of barService.items">
            <ion-label>{{ item.name }}</ion-label>
            <ion-fab-button (click)="removeItem(item.iid)" size="small" slot="end" color="primary">
              <ion-icon name="remove"></ion-icon>
            </ion-fab-button>
            <span slot="end">{{ getQuantity(item.iid) }}</span>
            <ion-fab-button (click)="addItem(item.iid)" size="small" slot="end" color="secondary">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="addItemsToTab()">Add to Tab</ion-button>
  </ion-toolbar>
</ion-footer>