<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tab</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Name
        </div>
      </ion-col>
      <ion-col>
        <div>
          Value
        </div>
      </ion-col>
      <ion-col>
        <div>
          Description
        </div>
      </ion-col>
      <ion-col>
        <div>
          Recipe
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items" (click)="utils.goToItemPage(item.iid)">
      <ion-col>
        <div>
          {{item.name}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          ${{item.value.toFixed(2)}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{item.description}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{item.recipe}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-range [(ngModel)]="tip" min="10" max="100" step="5" pin="true" snaps="true" color="primary"></ion-range>
    <ion-label>Tip: {{tip}}%</ion-label>
  </ion-item>
  <ion-footer>
    <ion-toolbar>
      <ion-label slot="end">Cost:
        ${{totalCost.toFixed(2)}}&nbsp;+&nbsp;${{ getTipAmount().toFixed(2) }}&nbsp;tip&nbsp;=
        &nbsp;${{(totalCost + getTipAmount()).toFixed(2)}}&nbsp;&nbsp;&nbsp;
      </ion-label>
      <div slot="end" id="paypal-checkout-btn"></div>
    </ion-toolbar>
  </ion-footer>