<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Open a Tab</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-button (click)="presentAlert();">Alert Test</ion-button>
          <ion-list>
              <ion-item>
                <ion-label (click)="presentAlert();">Bar #1</ion-label>
              </ion-item>
              <ion-item>
                <ion-label (click)="presentAlert();">Bar #2</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Bar #3</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Bar #4</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Bar #5</ion-label>
              </ion-item>
            </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
